@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #FCFCF9;
  color: #1A1A1A;
}

.bg-dot-pattern {
  background-image: radial-gradient(#cbd5e1 1px, transparent 1px);
  background-size: 24px 24px;
}

.glass-card {
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.5);
}
